<div class="row mt-5">
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">System</h5>
        <p class="card-text">Manage system informations</p>
        <a routerLink="/view-stocks" class="btn btn-primary">System Setting</a>
      </div>
      <div class="card-footer text-muted">
          2019-09-09
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Users</h5>
        <p class="card-text">manage users data</p>
        <a routerLink = "/master/users" class="btn btn-primary">User Setting</a>
      </div>
      <div class="card-footer text-muted">
          2019-09-09
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Billings</h5>
        <p class="card-text">User status and Billings transactions</p>
        <a href="#" class="btn btn-primary">View Transaction</a>
      </div>
      <div class="card-footer text-muted">
          2019-09-09
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Report</h5>
        <p class="card-text">Report and Charts for statistics</p>
        <a href="#" class="btn btn-primary">View Report</a>
      </div>
      <div class="card-footer text-muted">
          2019-09-09
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Memory Use</h5>
        <p class="card-text">Memory uses, availability</p>
        <a href="#" class="btn btn-primary">Memory Reports</a>
      </div>
      <div class="card-footer text-muted">
          2019-09-09
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Logs</h5>
        <p class="card-text">Data logs with user activites</p>
        <a href="#" class="btn btn-primary">View Logs</a>
      </div>
      <div class="card-footer text-muted">
          2019-09-09
      </div>
    </div>
  </div>
</div>
