<div class="row mt-5">
  <div class="col-md-12 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Stock Management Tool</h5>
        <p class="card-text">All the details of available stocks are here !</p>
        <a routerLink="/add-stock" class="btn btn-primary">Add Stock</a>&nbsp;
        <button href="#" class="btn btn-success">View Stocks</button>&nbsp;
        <button href="#" class="btn btn-primary">Manage Stocks</button>&nbsp;
        <button href="#" class="btn btn-primary" routerLink="/view-stocks/setting">Stock Setting</button>
      </div>
      <!-- <div class="card-footer text-muted">
          Please contact at <a href="http://www.sewarow.com">Sewarow Technology</a> for any inconvinient
      </div> -->
    </div>
  </div>
  <div class="col-md-12 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Listing Stocks</h5>
        <button href="#" class="btn btn-danger">Export to Excel</button>&nbsp;
        <button href="#" class="btn btn-danger">Export to PDF</button>
      </div>

      <table class="table table-bodered table-striped product-listing">
        <thead>
          <tr>
            <th>S.N</th>
            <th>Product Number</th>
            <th class="big-size">Product Name</th>
            <th class="big-size">Description</th>
            <th>Quantity Sold</th>
            <th>Quantity Available</th>
            <th>Cost Price per unit</th>
            <th>Selling Price per unit</th>
            <th class="big-size">Last Sold date</th>
            <th class="big-size">Last Added Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Iron_x10</td>
            <td>Iron Hammer</td>
            <td>A strong hammer for breaking stones</td>
            <td>93</td>
            <td>27</td>
            <td>1200</td>
            <td>1600</td>
            <td>2019-08-01</td>
            <td>2019-02-17</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Iron_x10</td>
            <td>Iron Hammer</td>
            <td>A strong hammer for breaking stones</td>
            <td>93</td>
            <td>27</td>
            <td>1200</td>
            <td>1600</td>
            <td>2019-08-01</td>
            <td>2019-02-17</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Iron_x10</td>
            <td>Iron Hammer</td>
            <td>A strong hammer for breaking stones</td>
            <td>93</td>
            <td>27</td>
            <td>1200</td>
            <td>1600</td>
            <td>2019-08-01</td>
            <td>2019-02-17</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Iron_x10</td>
            <td>Iron Hammer</td>
            <td>A strong hammer for breaking stones</td>
            <td>93</td>
            <td>27</td>
            <td>1200</td>
            <td>1600</td>
            <td>2019-08-01</td>
            <td>2019-02-17</td>
          </tr>
        </tbody>
      </table>
      <div class="card-footer text-muted">
          Please contact at <a href="http://www.sewarow.com">Sewarow Technology</a> for any inconvinient
      </div>
    </div>
  </div>
</div>
