<div class="row mt-5">
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Create User</h5>
        <p class="card-text">Creating new user, new user is a company registering for inventory system.</p>
        <a routerLink = "/master/create-user" class="btn btn-primary">Create User</a>
      </div>
      <div class="card-footer text-muted">
          2019-09-09
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Manage User</h5>
        <p class="card-text">User Management with user data updation and user data deletion.</p>
        <a href="/master/manage-user" class="btn btn-primary">User Management</a>
      </div>
      <div class="card-footer text-muted">
          2019-09-09
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Logs</h5>
        <p class="card-text">Logs of all the user related activites. Notification for user interaction with system</p>
        <a href="#" class="btn btn-primary">View Logs</a>
      </div>
      <div class="card-footer text-muted">
          2019-09-09
      </div>
    </div>
  </div>
</div>
