<div class="row mt-5">
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Stocks</h5>
        <p class="card-text">All the stock management activity. Curd operation with stocks, Stats, Reports</p>
        <a routerLink="/view-stocks" class="btn btn-primary">View Stocks</a>
      </div>
      <div class="card-footer text-muted">
          2019-09-09
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Transaction</h5>
        <p class="card-text">All the transaction management activity. Stats, Account, Billing, Reports</p>
        <a href="#" class="btn btn-primary">View Transaction</a>
      </div>
      <div class="card-footer text-muted">
          2019-09-09
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Checkouts</h5>
        <p class="card-text">All the transaction management activity with details. Stats, Reports</p>
        <a href="#" class="btn btn-primary">View Transaction</a>
      </div>
      <div class="card-footer text-muted">
          2019-09-09
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Suppliers</h5>
        <p class="card-text">All the suppliers management activity with curd, stats, activity</p>
        <a href="#" class="btn btn-primary">View Suppliers</a>
      </div>
      <div class="card-footer text-muted">
          2019-09-09
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Reports</h5>
        <p class="card-text">All the transaction reports.words, csv, excel, pdf reports</p>
        <a href="#" class="btn btn-primary">View Reports</a>
      </div>
      <div class="card-footer text-muted">
          2019-09-09
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Logs</h5>
        <p class="card-text">All user activites reports. View messages, alerts, warnings, system informations</p>
        <a href="#" class="btn btn-primary">View Logs</a>
      </div>
      <div class="card-footer text-muted">
          2019-09-09
      </div>
    </div>
  </div>
</div>
