<div class="row mt-5">
  <div class="col-md-12 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">User Management Tool</h5>
        <p class="card-text">Manage the users, set their status, manage user level and access information,</p>
      </div>
      <!-- <div class="card-footer text-muted">
          Please contact at <a href="http://www.sewarow.com">Sewarow Technology</a> for any inconvinient
      </div> -->
    </div>
  </div>
  <div class="col-md-12 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Listing of Users</h5>
        <button href="#" class="btn btn-danger btn-sm">Export to Excel</button>&nbsp;
        <button href="#" class="btn btn-danger btn-sm">Export to PDF</button>
      </div>
      <div class="card-body" *ngIf="loader">
        <div class = 'col-sm-2 col-xs-4 text-center timer-loader'></div>
        <p></p>
        <p class="text-center text-muted" *ngIf="!errorMsg">Please wait while regestering the user. You will be redirected to the users page once new user is registered.</p>
        <div class="alert alert-primary" role="alert" *ngIf = "note">
          {{ note }}
        </div>
      </div>
      <table class="table table-bodered table-striped product-listing" *ngIf="!loader">
        <thead>
          <tr>
            <th>User Name</th>
            <th>Company Name</th>
            <th class="big-size">Company Location</th>
            <th class="big-size">User Email</th>
            <th>Activated/Deactivated Date</th>
            <th>User Status</th>
            <th>More Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users;let i=index">
            <td>{{ i+1 }}</td>
            <td>{{ user.companyName }}</td>
            <td>{{ user.companyLocation }}</td>
            <td>{{ user.companyFocalPersonName }}</td>
            <td>{{ user.companyFocalPersonEmail }}</td>
            <td *ngIf="user.status">Active</td>
            <td *ngIf="!user.status">Deactive</td>
            <td>
                <a class="btn btn-xs btn-primary action-button" alt="View Detail" routerLink="/master/user/{{ user._id }}"><i class="fa fa-eye"></i></a>&nbsp;
                <a class="btn btn-xs btn-danger action-button" routerLink="/master/user/{{ user._id }}"><i class="fa fa-remove"></i></a>&nbsp;
                <a class="btn btn-xs btn-info action-button" routerLink="/master/user/{{ user._id }}"><i class="fa fa-bell"></i></a>
              </td>
            <td></td>
          </tr>

        </tbody>
      </table>
      <div class="card-footer text-muted">
          Please contact at <a href="http://www.sewarow.com">Sewarow Technology</a> for any inconvinient
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update the user.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
              <label for="recipient-name" class="col-form-label">Name:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Name:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control" id="recipient-name">
                  </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
